<div class="target-card">
  <div class="pull-left target-hit-card-wrapper">
    <h4 class="target-card-title target-hit-card-title">Schlag</h4>
    <h4 class="target-card-title target-hit-card-title-both">Schlag + Trump</h4>
    <div class="target-hit-card"></div>
  </div>
  <div class="pull-left target-trump-card-wrapper">
    <h4 class="target-card-title target-trump-card-title">Trumpf</h4>
    <div class="target-trump-card"></div>
  </div>
</div>
<div class="current-score"></div>
