<div class="notice alert alert-danger" role="alert" style="display: none;"></div>
<button type="button" class="btn btn-success button-ok" style="display: none;">OK</button>
<div class="clearfix">
  <div class="cards"></div>
</div>